body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

.debug {
  background-color: yellow;
  border-style: solid;
  border-color: red;
}

.left-panel {
  flex: 1;
  margin: 10px;
  text-align: center;
  width: 20%;
  min-width: fit-content;
  border-radius: 10px;
  float: left;
  height: max-content;
  padding-bottom: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: rgb(223, 218, 218);
}

.right-panel {
  flex: 5;
  margin: 10px;
  width: auto;
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(223, 218, 218);
  border-width: 1px;
  text-align: center;
  padding: 10px;
}

.global {
  font-family: "Open Sans";
  display: flex;
  padding: 10px;
  padding-top: 50px;
  flex-wrap: wrap;
}

.headshot {
  border-radius: 10px;
  margin-top: -40px;
  width: 100%;
  max-width: 150px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.social-icon {
  display: block;
  height: 70%;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10%;
}

.social-icon-container {
  background-color: rgb(5, 15, 95);
  height: 30px;
  border-radius: 5px;
  margin: 5px;
}

.contact-icon-container {
  display: flex;
  font-size: 15px;
  vertical-align: middle;
  margin-top: 5px;
}
